.card {
    /* max-width: 250px; */
    margin: 0 auto;
    /* background-color: #272c3a; */
    background-image: linear-gradient(#cfdfd5, #e6efea, #ebf1ed);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

.card-body {
    background-size: cover;
    background-position: center;
}